#left{
    text-align: center;
    padding: 10px;
    width: 18%;
    float: left;
    height: 98%;
    background: #c8e364;
    flex-direction: column;
}
button {
    margin-bottom: 10px;
    width: 90%;
    padding: 10px;
    font-size: 16px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}
button:hover {
    background-color: #fc001d;
}
.centent{
    padding: 5px;
    float: right;
    width: 77%;
    height: 98%;
    margin-right: 30px;
}
